<button   class="btn btn-primary" data-toggle="modal" data-target="#sequenceNumberEditModal" style=" margin: 50px;font-size: 13px"
         (click)="openSequenceNumberEditModal(sequenceNumberEditModal)">
  Open Modal
</button>

<ng-template #sequenceNumberEditModal>
  <mat-grid-list cols="1">
    <div>
      <table [dataSource]="sequenceNumbersDataSource" mat-table matSort
             matSortActive="sequenceNumber" matSortDisableClear="true">
        <!-- Patient Column -->
        <ng-container matColumnDef="personFullName">
          <th *matHeaderCellDef class="custom-table-header" mat-header-cell mat-sort-header scope="col">
            Patient
          </th>
          <td *matCellDef="let element" mat-cell>{{element.personFullName}}</td>
        </ng-container>

        <!-- Consent Date column-->
        <ng-container matColumnDef="consentDate">
          <th *matHeaderCellDef class="custom-table-header" mat-header-cell mat-sort-header scope="col">
            Consent Date
          </th>
          <td *matCellDef="let element"
              mat-cell> {{element.consentDate}} </td>
        </ng-container>

        <!-- Sequence Number Column -->
        <ng-container matColumnDef="sequenceNumber">
          <th *matHeaderCellDef class="custom-table-header" mat-header-cell mat-sort-header scope="col">
            Sequence Number
          </th>
          <td *matCellDef="let element" mat-cell> {{element.sequenceNumber}} </td>
        </ng-container>

        <tr *matHeaderRowDef="sequenceNumberDisplayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: sequenceNumberDisplayedColumns;" mat-row></tr>
      </table>
      <mat-paginator  [pageSizeOptions]="[5, 10, 20]" [pageSize]="10"
                      showFirstLastButtons></mat-paginator>
    </div>
  </mat-grid-list>
  <button (click)="modalRef.hide()" class="btn btn-secondary" type="button">Close</button>
</ng-template>
